polis.chaitinschool.org:443 {
	route {
		reverse_proxy 127.0.0.1:8000
	}

	tls zf+polis@sirodoht.com {
		on_demand
	}

	encode zstd gzip

	log {
		output file /var/log/caddy/polis.log {
			roll_size 1gb
			roll_keep 1
			roll_keep_for 720h
		}
	}
}
