.cpcache/
.gorilla-port
.lein-deps-sum
.lein-env
.lein-failures
.lein-git-deps/debug-repl
.lein-git-deps/hiphip
.lein-plugins
.lein-repl-history
.nrepl-port
*.class
*.jar
*.swo
/checkouts
/classes
/lib
/target
pom.xml
pom.xml.asc
