use nix

export PORT=8000

export STATIC_FILES_HOST=localhost
export STATIC_FILES_PORT=8080
export STATIC_FILES_ADMINDASH_PORT=8080

export DATABASE_URL=postgres://polis:mypassword@localhost:5432/polis
export DATABASE_FOR_READS_NAME=DATABASE_URL

export DEV_MODE=true
export NODE_ENV=development

export ENCRYPTION_PASSWORD_00001=somesecret

# Options: prod, preprod, dev
export MATH_ENV=dev

# Set the domain name; make sure this matches what's running on math node
export DOMAIN_OVERRIDE=localhost:8000

# export ADMIN_EMAILS=[]
# export ADMIN_EMAIL_DATA_EXPORT=""
# export ADMIN_EMAIL_DATA_EXPORT_TEST=""
# export ADMIN_EMAIL_EMAIL_TEST=""
# export ADMIN_UIDS=[]

# These may be the deprecated settings for submitting web requests to the math worker
export WEBSERVER_USERNAME=ws-user
export WEBSERVER_PASS=ws-pass

# Set to `true` and insert google creds if desired
# export SHOULD_USE_TRANSLATION_API=false
# export GOOGLE_CREDENTIALS_BASE64=xxxxxxxxxxxxxxxxxxxxxxx...
# export GOOGLE_CREDS_STRINGIFIED=xxxxxxxxxxxxxxxxxxxxxxx...

# export AWS_REGION=us-east-1
# Options: maildev, aws-ses, mailgun
# Example: `aws-ses,mailgun` would try sending via AWS SES first, and fallback to Mailgun on error.
# export EMAIL_TRANSPORT_TYPES=maildev
# export POLIS_FROM_ADDRESS="Example <team@example.com>"

# export AKISMET_ANTISPAM_API_KEY=
# export BACKFILL_COMMENT_LANG_DETECTION=
# export CACHE_MATH_RESULTS=
# export CLOUDFLARE_API_EMAIL=
# export CLOUDFLARE_API_KEY=
# export DOMAIN_WHITELIST_ITEM_01=
# export DOMAIN_WHITELIST_ITEM_02=
# export DOMAIN_WHITELIST_ITEM_03=
# export DOMAIN_WHITELIST_ITEM_04=
# export DOMAIN_WHITELIST_ITEM_05=
# export DOMAIN_WHITELIST_ITEM_06=
# export DOMAIN_WHITELIST_ITEM_07=
# export DOMAIN_WHITELIST_ITEM_08=
# export ENCRYPTION_PASSWORD_00001=
# export GOOGLE_API_KEY=
# export GOOGLE_APPLICATION_CREDENTIALS=
# export MAILGUN_API_KEY=
# export MAILGUN_DOMAIN=
# export MAXMIND_LICENSEKEY=
# export MAXMIND_USERID=
# export POLIS_SLACK_APP_CLIENT_ID=
# export POLIS_SLACK_APP_CLIENT_SECRET=
# export POSTMARK_API_KEY=
# export PRIMARY_POLIS_URL=
# export PUSHOVER_GROUP_POLIS_DEV=
# export PUSHOVER_POLIS_PROXY_API_KEY=
# export RUN_PERIODIC_EXPORT_TESTS=
# export SERVICE_HOSTNAME=
# export SLACK_API_TOKEN=
# export TWITTER_CONSUMER_KEY=
# export TWITTER_CONSUMER_SECRET=
