<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Polis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <script>
      window.domainWhitelist = <%= domainWhitelist %>;
    </script>
  </head>
  <body>
    <div id="root"></div>
    <script src="/dist/admin_bundle.js"></script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function () {
        FB.init({
          appId: "<%= fbAppId %>",
          xfbml: true,
          version: "v2.1",
        });
      };

      (function (d, s, id) {
        var js,
          fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
          return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        // js.src = "//connect.facebook.net/en_US/sdk/debug.js"; // unminified
        fjs.parentNode.insertBefore(js, fjs);
      })(document, "script", "facebook-jssdk");
    </script>
    <script>
      window.usePlans = <%= usePlans %>;
    </script>
    <script>
      window.version = "NULL_VERSION";
    </script>
  </body>
</html>
